{define noEntry}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Nebyl nalezen žádný záznam.</h1>
    <p class="lead">Tato sekce zatím neobsahuje žádná data, prosím přidejte nový záznam.</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{$basePath}/{$entryLink}/novy-zaznam" role="button">+ Přidat nový záznam</a>
    </p>
  </div>
</div>
{/define}