{layout '@layout.latte'}
{block content}
	<div class="wrapper login-margin">
		<div class="logo">
			{$json->page->header->logo}
		</div>
		<div class="login-content">
			<h1>{$json->page->notFound}</h1>
		</div>
	</div>
{/block}
